.qs__lable--corect {
  color: #0aab2f;            
}
.qs__lable--wrong {
  color: #cd293a;   

}



.qs__explanation {
  border-top: 1px solid #e2e8f0;
  padding: 10px 0;
  font-size: 16px;
  color: #34373b
}
